{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <header class="header ">
    <div class="logo-container">
      <a href="#">
        <img class="logo" alt="W15DOM logo" src="{{ url_for('static', filename='images/w15domlogo.png') }}" />
      </a>
    </div>

    <nav class="home-nav">
      <ul class="home-nav-list">
        <li><a class="home-nav-link" href="/home">Timeline</a></li>
        <li><a class="home-nav-link" href="/archive">Archive</a></li>
        <li><a class="home-nav-link" href="/message">Messages</a></li>
        <li><a class="home-nav-link text-line" href="#">My Account</a></li>
        <li><a class="home-nav-link" href="/help">Help</a></li>
        <li><a class="home-nav-link" href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>

  <section>
  <div class="container">
    <div class="account">
  <h1>Account Information</h1>
  <p class="font-size">Username: {{ current_user.name }}</p>
  <p class="font-size">Email: {{ current_user.email }}</p>

  {% if current_user.has_platform('Steam') %}
    {% if 'steam_user' in session %}
      <p>Steam ID: {{ session['steam_user']['steamid'] }}</p>
    {% endif %}
    <form action="{{ url_for('auth.steam_disconnect') }}" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <img src="{{ url_for('static', filename='images/steam-icon.png') }}" alt="Steam Icon" style="width: 3.5rem; height: 3.5rem; vertical-align: middle; margin-right: 1rem;">
      <button type="submit">Disconnect Steam Account</button>
    </form>
  {% else %}
    <p>Not connected to Steam</p>
    <img src="{{ url_for('static', filename='images/steam-icon.png') }}" alt="Steam Icon" style="width: 3.5rem; height: 3.5rem; vertical-align: middle; margin-right: 1rem;">
    <a href="{{ url_for('auth.steam_login') }}">Connect Steam Account</a>
  {% endif %}
</div>
  </div>
</section>

{% endblock %}
