
{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

  <body>
    <header class="header1 sticky">
      <a href="#home">
        <img class="logo" alt="W15DOM logo" src="{{ url_for('static', filename='images/w15domlogo.png') }}" />
      </a>

      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#home">Home</a></li>
          <li><a class="main-nav-link" href="#aboutus">About us</a></li>
          <li><a class="main-nav-link" href="/login">Log In</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="section-hero" id="home">
        <h1 class="heading-primary">
          A fun way to collect your games!
            </h1>
        <div class="hero">
<div class="hero-text-box">
  <div class="hero-description-container">
    <p class="hero-description">Starting being a game pro by managing your data!</p>
    <img class="hero-image" src="{{ url_for('static', filename='images/timeline.PNG') }}" alt="demo"/>
  </div>
  <a href="#signup" class="btn btn--full margin-right-sm">Sign up Now!</a>
  <a href="#aboutus" class="btn btn--outline">Learn more &darr;</a>
</div>
        </div>
        </section>

        <section class="features" id="spotlight">
          <div class="container section-color">
              <div class="about-text">
          <span> Spotlight Games!</span>
              </div>
                     <!-- CS BOX in here  -->
            <div class="gallery-container">
            <div class="gallery">
  <a target="_blank" >
    <img src="{{ url_for('static', filename='images/arksurvivalworld.jpg') }}" alt="one" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" >
    <img src="{{ url_for('static', filename='images/deadbydaylight.jpeg') }}" alt="two" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" >
    <img src="{{ url_for('static', filename='images/warframelastwish.jpeg') }}" alt="three" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" >
    <img src="{{ url_for('static', filename='images/flightsimulatorx.jpeg') }}" alt="four" width="600" height="400">
  </a>
  </div>
  
  <div class="gallery">
  <a target="_blank" >
    <img src="{{ url_for('static', filename='images/valheim.jpeg') }}" alt="five" width="600" height="400">
  </a>
  </div>
            </div>
      
      </div>
</section>

      
      
        <section id="signup">
          <div class="container section-color">
            <div class="sign">
              <div class="sign-text-box">
                <h2 class="heading-secondary">Register Account</h2>
              
              <div>
                <form class="sign-form" id="signup-form" method="POST" action="{{ url_for('auth.signup') }}">
                  <div>
                    <label for="email">Email<br></label>
                    <input id="email" name="email" type="text" class="email-field" placeholder="ex: me@example.com" required>
                  </div>
                  <div>
                    <label for="username">Username<br></label>
                    <input id="username" type="text" name="name" class="username-field" placeholder="ex: MrPotatoChip" required>
                  </div>
                  <div class="last-input">
                    <label for="password">Password<br></label>
                    <input id="password" type="password" name="password" placeholder="do not share!" required>
                  </div>
                  <button class="btn-sign" id="submit-signup" type="submit">Register<br></button>
                </form>
              </div>                
          </div>
            </section>
              

<section id="aboutus">
          <div class="container container-line section-color">
            <div class="about-us-one">
              <div class="about-text">
                <section>
        <!--was generated with the assistance of chatgpt-->
			<h3> About Us </h3>
			<p>WI5DOM is an application that provides all users the ability to log games. Our team of experienced developers         and designers are passionate about creating high-quality applications that are tailored to the unique needs of our       clients.</p>
			<h3>Our Mission</h3>
			<p>At WI5DOM, our mission is to help businesses succeed by providing them with the tools and expertise they need         to thrive in the digital marketplace. We believe that a great website can be a game-changer for businesses, and we       are committed to helping our clients achieve their goals.</p>
			<h3>Contact Us</h3>
			<p>If you're interested in learning more about WI5DOM, please don't hesitate to get in touch. You can reach us by         phone at 123-456-7890 or by email at WI5DOM@help.com.</p>
		</section>
          

          </div>
        </div>
        </div>
        </div>
        </section> 
          

          </div>
        </div>
        </div>
        </div>
        </section> 
            <footer class="footer ">
          <div class="container container-3 grid grid--footer ">
            <div class="logo-col">
              <a href="#" class="footer-logo">
                <img class="logo" alt="W15DOM logo" src="{{ url_for('static', filename='images/w15domlogo.png') }}" />
                </a>
                <ul class="social-links">
                  <li><a class="footer-link" href="#"><ion-icon class="social-icon" name="logo-instagram"></ion-icon></a></li>
                  <li><a class="footer-link" href="#"><ion-icon class="social-icon"  name="logo-facebook"></ion-icon></a></li>
                  <li><a class="footer-link" href="#"><ion-icon class="social-icon"  name="logo-twitter"></ion-icon></a></li>
                </ul>
                <p class="copyright">Copyright &copy; 2023 by W15DOM, Inc All rights reserved.</p>
            </div>
            <div class="address-col">
              <p class="footer-heading">Contact us</p>
              <address class="contacts">
              <p class="address">1301 E Anderson Ln, Suite 200, Austin, TX 78752</p>
              <p>
              <a class="footer-link" href="tel:415-201-6370">123-456-7890</a><br />
              <a class="footer-link" href="mailto:hello@omnifood.com">WI5DOM@help.com</a>
              </p>
            </address>
            </div>
            <nav class="nav-col">
              <p class="footer-heading">Account</p>
              <ul class="footer-nav">
                <li><a class="footer-link" href="#signup">Create account</a></li>
                <li><a class="footer-link" href="/login">Sign in</a></li>
              </ul>
            </nav>
            <nav class="nav-col">
              <p class="footer-heading">Company</p>
              <ul class="footer-nav">
                <li><a class="footer-link" href="#aboutus">About W15DOM</a></li>
              </ul>
            </nav>
            <nav class="nav-col">
              <p class="footer-heading">Resources</p>
              <ul class="footer-nav">
                <li><a class="footer-link" href="#aboutus">Help center</a></li>
                <li><a  class="footer-link" href="#aboutus">Privacy & terms</a></li>
              </ul>
            </nav>
          </div>
        </footer>
                      
</body>
</html>

{% endblock %}